{{#partial "content"}}
<div class="row">
    <div class="col-md-8">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Health</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Lion</td>
            <td>Endagered</td>
            <td>okay</td>
            <td>young</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Lion</td>
            <td>Endagered</td>
            <td>okay</td>
            <td>young</td>
        </tr>
    </table>
    </div>
    <div class="col-md-4">
                <h1>Add a new Animal</h1>
                <form>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="endangeredInput" name="endangeredInput">
                        <label class="form-check-label" for="endangeredInput">Endangered?</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <label for="healthInput">Health</label>
                            <select class="form-control" name="healthInput" id="healthInput">
                                <option>healthy</option>
                                <option>ill</option>
                                <option>okay</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <label for="ageInput">Age</label>
                            <select class="form-control" id="ageInput" name="ageInput">
                                <option>newborn</option>
                                <option>young</option>
                                <option>adult</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Add Animal</button>
                        </div>
                    </div>
                </form>
    </div>
</div>
{{/partial}}

{{> layout.hbs}}