{{#partial "content"}}
<div class="align">
    <h1>Welcome to Wildlife tracker</h1>
    <p>Animals are, like us, endangered species on an endangered planet, and we are the ones who are endangering them, it, ourselver.
        Tey are innocent suffers in a hell of our making.</p>
    <h3>Jeffrey Masson</h3>
</div>



{{/partial}}

{{> layout.hbs}}